<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Geo Location Weather</title>
</head>
<body>
    <div class="container">
        <h1>Current Weather in PH 👇</h1>

        <form action="/get-location" method="post">
            <label for="">Zip Code:</label>
            <input type="text" name="zipCode">
            <button type="submit">Submit</button>
        </form>
    </div>

    <section>
        <%if(locals.data){%>
            <% const weather = data.weather[0].description.charAt(0).toUpperCase() + data.weather[0].description.slice(1)%>
            <h3>Country: <%= data.sys.country %></h3>
            <h3>Name: <%= data.name %></h3>
            <h3>Temprature: <%= data.main.temp %>°C</h3>
            <h3>Weather: <%= weather%></h3>
        <% }%>

        <% if(locals.error){%>
            <h2><%= status%> <%= error %></h2>
        <% } %>
            
    </section>
</body>
</html>